@section Head{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.5/datatables.min.css" />
}

<table id="myTable">
    <thead>
        <tr>
            <th>Adı</th>
            <th>Soyadı</th>
            <th>Telefon</th>
        </tr>
    </thead>
</table>


@section Footer{
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/v/dt/dt-1.11.5/datatables.min.js"></script>
    <script>
        var dataSource = [
            {"Adi":"Emre","Soyadi":"Özbaşkan","Telefon":"4444444444"}
        ];

        $(document).ready(function () {
            $('#myTable').DataTable(
                {
                    data: dataSource,
                    columns: [
                        { data: "Adi"},
                        { data: "Soyadi" },
                        { data: "Telefon" },

                    ]
                });
        });
    </script>
}