<!--wiew inport a using i ekledik mvcgrid için-->
<!--Startaıp hem servise kısmına hemde app kısmına ekledik.-->

<h1>Test Grid</h1>

<!--gridi using eeklediken sonra burası (MVCGridNetCore) geliyor -->
@Html.MVCGridNetCore("PersonalListGrid");


<!--Layouttaki footer.-->
@section Footer{
    <script src="/MVCGrid.js"></script>
}


